.Header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  background: var(--darkPurple);
}

.Header a, #logo {
  text-decoration: none;
  text-align: center;
  color: var(--pinkish);
  padding: 0 20px;
}

@media (min-width: 600px) {
  .Header a, #logo {
    padding: 20px 30px;
    font-size: 1.2em;
  }
}
